/* VARIABLES */

:root {
  --bg-color: hsl(185, 75%, 39%);
  --card-color: #fff;
  --primary-color: hsl(229, 23%, 23%);
  --secondary-color: hsl(0, 0%, 59%);
  --accent-color: hsl(227, 10%, 46%);
  --line-color: hsl(0, 2%, 91%);
}

/* DESKTOP */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  background: right 55vw bottom 30vh no-repeat url("/images/bg-pattern-top.svg"),
    50vw 50vh no-repeat url("/images/bg-pattern-bottom.svg"), var(--bg-color);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.card {
  height: 380px;
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  background: top no-repeat url("../images/bg-pattern-card.svg"),
    var(--card-color);
  background-size: 105%;
}

.user-details {
  text-align: center;
  margin-top: 90px;
}

.img {
  border-radius: 50%;
  border: 4px solid var(--card-color);
  max-width: 100px;
}

.name {
  color: var(--primary-color);
  padding-top: 7%;
}

.age {
  font-weight: 400;
  color: var(--accent-color);
  padding-left: 5px;
}

.location {
  font-size: 13px;
  color: var(--accent-color);
  padding: 3% 0 7%;
}

.user-stats {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-top: 1px solid var(--line-color);
  padding: 7% 0;
}

.num {
  font-weight: 700;
  color: var(--primary-color);
  padding-bottom: 7px;
}

.text {
  font-size: 11px;
  color: var(--secondary-color);
  letter-spacing: 2px;
}

/* FOOTER */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MOBILE */

@media (max-width: 390px) {
  .card {
    min-width: 330px;
  }

  .user-details {
    margin-top: 85px;
  }
}
